form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
 
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #009879;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #007d6b;
}

p {
    text-align: center;
    color: red;
}
